.projects_container {
    display: flex;
    justify-content: center;

    /* grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem; */
}

.project_item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin: 1rem;
}

.project_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.project_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.project_item h3 {
    margin: 1.2rem 0 2rem;
}

.project_item-cta {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

@media screen and (max-width:1024px) {
    .projects_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media (min-width:300px) and (max-width:600px) {
    .projects_container {
        grid-template-columns: 1fr;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project_item h3 {
        margin: 1rem 0 1rem;
    }


    .project_item {
        padding: 1.1rem;
        width: 20rem;
    }
}